/.git
/.idea
/.docker
/node_modules
/public/build
/tests
/vendor

/bootstrap/cache/*
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

.dockerignore
.editorconfig
.env
.env.example
.gitattributes
.gitignore
README.md
phpunit.xml
